/__pycache__/
/cache/
/.idea/

/test_isdigit.py
/__pycache__/db_helper.cpython-38.pyc
/__pycache__/process_columns.cpython-38.pyc
/__pycache__/sentence_label.cpython-38.pyc
/__pycache__/training_dataset.cpython-38.pyc
/test2.py
/test3.py
/.idea/sqldialects.xml
/hubert_wiki_lower/pytorch_model.bin
/test15.py
/test15.py
/pandas_converted.xlsx
/__pycache__/helpers.cpython-38.pyc
/__pycache__/hubert_model.cpython-38.pyc
/model_bert/best/pytorch_model.bin

/venv/
/__pycache__/
db_helper.py
/hubert_wiki_lower/config.json
/hubert_wiki_lower/vocab.txt
/model_bert/best/config.json
/model_bert/best/vocab.txt
/hubert_wiki_lower/config.json
/requirements.txt
/db_helper.py
/.vscode/settings.json
/password.txt
/connect_string.json
/model_bert/best_back/pytorch_model.bin
