/__pycache__/convert_excel.cpython-38.pyc
/__pycache__/webserver.cpython-38.pyc


/test_isdigit.py
/__pycache__/db_helper.cpython-38.pyc
/__pycache__/process_columns.cpython-38.pyc
/__pycache__/sentence_label.cpython-38.pyc
/__pycache__/training_dataset.cpython-38.pyc
/test2.py
/test3.py
/.idea/sqldialects.xml
/hubert_wiki_lower/pytorch_model.bin
